body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: lightgray;
    padding: 20px;
    border:  1px solid black;
}

.form-group {
    display: flex;
    margin-bottom: 10px;
}

label {
    width: 140px;
    text-align: right;
    margin-right: 10px;
}

input, select {
    flex-grow: 1;
    width: 140px;
}
#submit-form-button{
    align-self: center;
}
#clear-button{
    margin: 20px;
    width: 200px;
    height: 50px;
    font-size: 25px;
}

.card {
    border: 1px solid #ccc; 
    border-radius: 8px;
    padding: 16px; 
    margin: 10px; 
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.card h3 {
    margin: 0 0 8px 0; 
}

.card p {
    margin: 4px 0; 
}

.card a {
    color: #007BFF; 
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}